.page-header-custom {
    background-color: #253959;
    color: white;
    margin-top: 0px;
    margin-bottom: 15px;
    margin-right: 0px;
    padding-top: 10px;
    padding-left: 15px;
}

.body-unpadded {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.table-custom-marged {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
}

.finger-point {
    cursor : pointer;
}

.left-margined {
    margin-left: 10px;
}   

.form-right-top-margin {
    margin-top : 10px;
    margin-right: 10px;
}

.table-subtitle-row {
    background-color: #93c6c2
}
